//
   Created by stephen on 03/03/14.
//{ title: statusCode + ': ' + statusText, error: errorDetail, url: req.url }
html
    body
        block content
            h1 #{title}
            p Occurred while trying to access #{url}
            p #{error}