//
   Created by stephen on 03/03/14.
extends layout
block content
    div.container
        -if (photos.length == 0)
            .ui.message
                .text.align.center
                    | Nothing new in your feed... Try following another user or uploading a photo!
        -else
            #feedList
                div.feed.photos
                    - for photo in photos
                        .p.both-5.photo
                            .ui.form.segment
                                .overlayed
                                    img(src='/photos/' + photo.id + '.' + photo.extension)
                                    .overlay.t.opacity.fade.hide.unless.hovered
                                        .float.right
                                            a.ui.mini.green.button(href="/users/#{photo.userID}/share")
                                                i.share.icon
                                                | share
                                .text.muted.ui.two.column.grid
                                    .column
                                        .text.small.align.left.no.underline
                                            a.ui.label(href="/users/#{photo.userID}")
                                                i.user.icon
                                                = photo.fullName
                                    .column
                                        .text.small.align.right
                                            = moment(photo.createdAt).fromNow()
                                    .text.small.align.center
                                        = photo.description || '(no description)'
            div.p.vert-15
                div.text.align.center
                    -if (prevPage >= 1)
                        a.ui.left.labeled.icon.button(href="/feed?page=#{prevPage}")
                            i.left.arrow.icon
                            | Previous
                    -if (nextPage >= 1)
                        a.ui.right.labeled.icon.button(href="/feed?page=#{nextPage}")
                            i.right.arrow.icon
                            | Next