//
   Created by stephen on 03/03/14.

h1 Photos
p Found some photos.
div(id="photos")
    table(class="summary")
        thead
            tr
                th ID
                th Created
                th Path
                th UserID
        tbody
            each photo in photos
                tr
                    td= photo.id
                    td= photo.createdAt
                    td= photo.imagePath
                    td= photo.userID