doctype html
html
    head
        title= title || 'Snapgram'
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/semantic.min.css')

        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/semantic.min.js')
    body
        .ui.large.inverted.main.menu
            a.item(href="/")
                i.blue.camera.icon
                strong.blue Snapgram
            .right.menu
                a.item(href="/")
                    i.home.icon
                    | Home
                a.item(href="/sessions/new/")
                    .ui.button Login
                a.item(href="/users/new")
                    .ui.teal.button Sign Up

        block content


