extends layout
block content
    -//Show errors, if any
    - if (messages.error)
        .message.errors
            span= messages.error
    form(name='login', method='post', action='/sessions/create')
        input(type='text', name='username', placeholder='Email')
        input(type='password', name='password', placeholder='Password')
        input(type='hidden', name='redirect', value=redirect)
        input(type='submit', value='Login')
    #register
        p Not a User?&nbsp;
            a(href="/users/new") Register Now!