extends layout
block content
    .small.container
        -//Show errors, if any
        - if (messages.errors)
            .ui.error.message
                - for errorSet in messages.errors
                    - each error in errorSet
                        -each e in error
                            span= e
                            br

        form.ui.form.segment(name='login', method='post', action='/sessions/create')
            .field
                label Username
                .ui.left.labeled.icon.input
                    input(type='text', name='username')
                    i.user.icon
                    .ui.corner.label
                        i.icon.asterisk
            .field
                label Password
                .ui.left.labeled.icon.input
                    input(type='password', name='password')
                    i.lock.icon
                    .ui.corner.label
                        i.icon.asterisk
            input.ui.blue.submit.button(type='submit', value='Login')
        .ui.horizontal.divider
            | Or
        a.ui.teal.labeled.icon.button(href="/users/new")
            | Sign up
            i.add.icon
