//
   Created by hhrosvick on 27/02/14.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(http-equiv="refresh", content="2; url=" + redirect)
    body
        p Login Success! Redirecting...