extends layout
block content
    .small.container
        -//Show errors, if any
        - if (messages.errors)
            .ui.error.message
                - for errorSet in messages.errors
                    - each error in errorSet
                        -each e in error
                            span= e
                            br

        form.ui.form.segment(name='signup', method='post', action='/users/create')
            .field
                label Username/Email
                .ui.left.labeled.icon.input
                    input(type='text', name='username')
                    i.mail.icon
                    .ui.corner.label
                        i.icon.asterisk
                .field
                    label Full Name
                    .ui.left.labeled.icon.input
                        input(type="text", name='fullname')
                        i.user.icon
                        .ui.corner.label
                            i.icon.asterisk
                .field
                    label Password
                    .ui.left.labeled.icon.input
                        input(type='password', name='password')
                        i.lock.icon
                        .ui.corner.label
                            i.icon.asterisk
                input.ui.blue.submit.button(type='submit', value='Register')

